<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
</head>
<body>
    <h2>Dear {{name}}:</h2>
    <h3>Thank you for choosing Panther Hotel. We are pleased to confirm your room reservation from {{checkin}} to {{checkout}}.</h3>
    <br>
    <h3>We look forward to seeing you soon.</h3>
    <br>
    <a href='/'><button>Back to Home</button></a>
</body>
</html>